/*=====================
	Premery bg color
=====================*/
:root {
    --primary: rgba(230, 145, 10, 1);
    --primary-hover: rgba(255, 155, 0, 1);
    --secondary: rgba(87, 87, 86, 1);
    --rgba-primary-1: rgba(230, 145, 10, 0.1);
    --rgba-primary-2: rgba(230, 145, 10, 0.2);
    --rgba-primary-3: rgba(230, 145, 10, 0.3);
    --rgba-primary-4: rgba(230, 145, 10, 0.4);
    --rgba-primary-5: rgba(230, 145, 10, 0.5);
    --rgba-primary-6: rgba(230, 145, 10, 0.6);
    --rgba-primary-7: rgba(230, 145, 10, 0.7);
    --rgba-primary-8: rgba(230, 145, 10, 0.8);
    --rgba-primary-9: rgba(230, 145, 10, 0.9);
}